### **Group 7 Project - Spotify Analysis**

Yosef Friedman - yosef.friedman@baruchmail.cuny.edu

Don Leshem - don.leshem@baruchmail.cuny.edu

Samantha Tavares - samantha.tavares@baruchmail.cuny.edu

# Data Importing

We will be analyzing Spotify's catalog data for our project. We will gather various datasets and summarize and analyze Spotify's data. We will do exploratory analysis to look at popular songs, user playlists, and other information to build reports and analyze what songs and artists are most popular, and visualize our findings.

Datasets Used: kaggle.com/yamaerenay/spotify-dataset-19212020-160k-tracks
Github Repository: github.com/donleshem/CIS-3120-Spotify-Analysis

In [ ]:
# importing libraries and data files
# initially we made the first column the index, but we decided to use the default index instead

import pandas as pd
import numpy as np

df1 = pd.read_csv(r"/content/data.csv", parse_dates=[0])

data_by_genres = pd.read_csv(r"/content/data_by_genres.csv", parse_dates=[0])

data_by_year = pd.read_csv(r"/content/data_by_year.csv", parse_dates=[0])

df1.head()

  acousticness                    artists  danceability  ...    tempo  valence  year
0        0.991            ['Mamie Smith']         0.598  ...  149.976   0.6340  1920
1        0.643  ["Screamin' Jay Hawkins"]         0.852  ...   86.889   0.9500  1920
2        0.993            ['Mamie Smith']         0.647  ...   97.600   0.6890  1920
3     0.000173        ['Oscar Velazquez']         0.730  ...  127.997   0.0422  1920
4        0.295                   ['Mixe']         0.704  ...  122.076   0.2990  1920

[5 rows x 19 columns]

In [ ]:
df1.describe()

        danceability   duration_ms  ...        valence           year
count  174389.000000  1.743890e+05  ...  174389.000000  174389.000000
mean        0.536758  2.328100e+05  ...       0.524533    1977.061764
std         0.176025  1.483958e+05  ...       0.264477      26.907950
min         0.000000  4.937000e+03  ...       0.000000    1920.000000
25%         0.414000  1.661330e+05  ...       0.311000    1955.000000
50%         0.548000  2.057870e+05  ...       0.536000    1977.000000
75%         0.669000  2.657200e+05  ...       0.743000    1999.000000
max         0.988000  5.338302e+06  ...       1.000000    2021.000000

[8 rows x 14 columns]

In [ ]:
# dropping columns we don't need for the analysis

df1 = df1.drop(columns = ['valence', 'mode', 'speechiness', 'instrumentalness'])

In [ ]:
# checking for NaN values

print(df1.isna().values.sum())

0

There are duplicate songs on the list...

In [ ]:
df1['name'].value_counts()

White Christmas                                   103
Winter Wonderland                                  88
Silent Night                                       81
Jingle Bells                                       71
2000 Years                                         70
                                                 ...
Myage                                               1
Spare Change                                        1
Two Spiritual Songs (2007): Many Years (Vivat)      1
I Fall In Love Too Easily - Vocal Version           1
Killing In The Name - Demo                          1
Name: name, Length: 137013, dtype: int64

In [ ]:
# create series w/ White Christmas, Artist

In [ ]:
# most prolific artists

df1['artists'].value_counts().nlargest(10)

['Tadeusz Dolega Mostowicz']      1281
['Эрнест Хемингуэй']              1175
['Эрих Мария Ремарк']             1062
['Francisco Canaro']               951
['Ignacio Corsini']                624
['Frank Sinatra']                  621
['Elvis Presley']                  494
['Bob Dylan']                      459
['Francisco Canaro', 'Charlo']     456
['Johnny Cash']                    456
Name: artists, dtype: int64

In the above list of artists:
- We need to remove the brackets and apostrophes
- Francisco Canaro comes up twice. We need to replace ['Francisco Canaro', 'Charlo'] with ['Francisco Canaro']

In [ ]:
# removing the brackets and apostrophes

df1['artists']= df1['artists'].str.strip('[')
df1['artists']= df1['artists'].str.strip(']')
df1['artists']= df1['artists'].str.strip("'")
df1['artists']= df1['artists'].str.strip("'")

print(df1['artists'].value_counts().nlargest(5))

Tadeusz Dolega Mostowicz    1281
Эрнест Хемингуэй            1175
Эрих Мария Ремарк           1062
Francisco Canaro             951
Ignacio Corsini              624
Name: artists, dtype: int64

In [ ]:
# Replacing **Francisco Canaro', 'Charlo** with **Francisco Canaro** to get an accurate count 

df1 = df1.replace({'artists': "Francisco Canaro', 'Charlo"}, {'artists': 'Francisco Canaro'})

Now that we cleaned the data a bit, we can see that Francisco Canaro is actually the most popular artist!

In [ ]:
print(df1['artists'].value_counts().nlargest(10))

Francisco Canaro            1407
Tadeusz Dolega Mostowicz    1281
Эрнест Хемингуэй            1175
Эрих Мария Ремарк           1062
Ignacio Corsini              624
Frank Sinatra                621
Elvis Presley                494
Bob Dylan                    459
Johnny Cash                  456
The Rolling Stones           450
Name: artists, dtype: int64

# Cleaning and Exploring the Data

In [ ]:
# finding the max popularity score

data_by_genres['popularity'].max()

# filtering out which genre(s) have the max score

popular_genres = data_by_genres.loc[data_by_genres['popularity'] == 79.0] 

print(popular_genres)

                 genres  acousticness  danceability  ...  popularity  key  mode
565  chinese electropop       0.00257          0.66  ...        79.0    1     0

[1 rows x 14 columns]

The most popular genre is chinese electropop!

In [ ]:
# converting genre column to a numpy array, and using the np.mean() method to find the average genre score

genre_pop_array = data_by_genres['popularity'].to_numpy() 

np.mean(genre_pop_array)

29.701617819589185

The average **genre** popularity score is 29.7!

In [ ]:
# finding the average popularity score using numpy

pop_array = df1['popularity'].to_numpy() 
average = np.mean(pop_array)

print(average)

25.693380889849703

The average **song** popularity score is 25.7!

In [ ]:
# finding the most popular songs by filtering the songs with a popularity score of 95 or above

popular_songs = df1.loc[df1['popularity'] >= 95] 

p_songs = pd.DataFrame(popular_songs)

print(p_songs[['name', 'artists']])

                         name                   artists
19862  Mood (feat. iann dior)     24kGoldn', 'iann dior
19866               positions             Ariana Grande
19886                  DÁKITI  Bad Bunny', 'Jhay Cortez
19976                 BICHOTA                   KAROL G
20062         drivers license            Olivia Rodrigo

Mood by 24kGoldn, Positions by Ariana Grande, and DÁKITI by Karol G are the most popular songs!

In [ ]:
# use numpy for data_by_year

References:

https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/
https://www.geeksforgeeks.org/numpy-mean-in-python/